/* Prevent horizontal scroll */
* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    overflow-x: hidden;
    width: 100%;
}