.cardd {
  width: 21%;
  height: 450px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 6px 25px rgba(0,0,0,0.15);
  margin: 20px;
}

.cardd-top {
  height: 80px;
  background: #7b2cff;
}

.cardd-content {
  padding: 20px;
  text-align: center;
}

.title {
  margin-top: -70px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.cardd-img {
  width: 100%;
  height: 200px;

  object-fit: cover;
  border-radius: 15px;
  margin-top: 10px;
}

.Info{
    display: block;
    font-size: small;
}

.info-box {
  display: flex;
  margin-top: 15px;
  text-align: left;
}
.info-boxx {
  display: flex;
  margin-top: 15px;
  text-align: left;
}

.row {
  display: flex;
  align-items: center;
  margin: 5px 0;
}


.icon {
  width: 20px;
  margin-right: 8px;
}

.arrow-btn {
  width: 30px;
  height: 30px;
  margin-top: 13px;
  background: linear-gradient(90deg, #9a4dff, #6a00ff);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
}
