.form-container {
  width: 60%;
  margin: 100px auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  font-family: Arial, sans-serif;
}
.form-container img{
    width: 100%;
    height: 250px;
}

.form-container h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-container p{
    color: rgb(86, 83, 83);
    font-size: 16px;
}

label {
  font-size: small;
  font-weight: 550;
  color: rgb(97, 91, 91);
  margin-top: 15px;
  display: block;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 90px;
}

.radio-group{
    display: flex;
}
.radio-group input{
    display: flex;
}

.radio-group label {
  margin-right: 20px;
}

.checkbox-group label{
text-align: center;
margin-right: 50%;
}
.checkbox-group input{
    margin-right: 100%;
    width: 30px;
}

.submitt-btn {
  width: 100%;
  height: 35px;
  padding: 10px;
  background: linear-gradient(90deg, #336dff, #bc4dfc);
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: all ease-in;
}

.submitt-btn:hover {
  scale: calc(1.05);
}
