.intro-continer{
    width:100%;
    height: 100%;
    margin-top: 50px;
}

.intro{
    display: flex;
    justify-content: space-around;
}

.intro img{
    padding-top: 20px;
    width: 30%;
    height: 30%;
}

#introS{
    margin-top:50px;
    color: #6b0af3;
    font-weight: 600;
    font-size: 15px;
}

.intro-lines h1{
    padding-bottom: 20px;

}

#introP{
    font-size: 15px;
    opacity: 0.9;
    line-height: 1.5;
}

/* --- Courses section ---*/
.courses{
    margin-top: 85px;
    background-color:#6B0AF3;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 500px;
}

.about{
    margin-left: 30px;
    padding-top: 50px;
}
#SigC{
    font-weight: 700;
    font-size: 13px;
}
.about h1 span{
    color: #FFD757;
}

.M-tanveer{
    display: flex;
    margin-bottom: 30px;
}
.inner-div{
    display: block;
}
.inner-div h2{
    margin-top:30px;
    padding-left: 10px;
}
.inner-div p{
    font-size: 15px;
    padding-left: 10px;
    padding-top: 2px;
}

.M-tanveer img{
    margin-top: 30px;
    border-radius: 10px;
    width:60px;
    background-color: white;
}

#aboutP{
    font-size: 15px;
    padding-bottom: 50px;
    
}

.STAR{
    display: flex;
    gap:5rem;
}

.starr span {
  display: block;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.white-div{
    margin-top: 40px;
    height: 600px;
    width: 30%;
    background-color: white;
    border-radius: 20px;
}

.pic-div img{
    width: 320px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 15px;
    border-radius: 10px;
}

.pic-innerDiv{
    display: flex;
    border-bottom: 0.1px solid black;
    padding-bottom: 5px;
   
}
.pic-innerDiv img{
    width: 20px;
}
.pic-innerDiv p{
    color: black;
    margin-top: 15px;
    margin-left: 10px;
}
.innerDiv{
    display: flex;
}
.innerdiv2 img{
    width: 20px ;
    display: block;
    border-radius: 0%;
}

.innerdiv3 p{
    color: black;
    margin-top: 17px;
    margin-left:15px ;
    margin-bottom: 16px;
}

.enroll-btn1 {
 background:linear-gradient(to right,#9051e7,#7317f4);
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  width: 90%;
  height: 40px;
  margin-left: 20px;
  margin-top: 10px;
  transition: background 0.4s ease;

}

.enroll-btn1:hover {
  background:linear-gradient(to right,#7317f4,#9051e7);
}

