.wrapper {
    width: 100%;
  height: 3000px;
  background: #fff;
  text-align: center;
  padding: 40px 0;
  font-family: sans-serif;
  margin-top: 40px;
}
.page-container {
  padding: 30px;
  width: 100%;
  height: 800px;
  background-color: aqua;

}
.button-row {
   display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.bton {
  width: 20%;
  height: 40px;
  padding: 10px 25px;
  border-radius: 3px;
  border: none;
  background: #f2e9ff;
  color: #6b0af3;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
}

.bton.active {
  background: linear-gradient(90deg, #b100ff, #5a00ff);
  color: white;
  box-shadow: 0 4px 10px rgba(120, 0, 255, 0.3);
}
.cardd-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.contact-btnn {
  margin-top: 20px;
  width: 17%;
  height: 40px;
  background: linear-gradient(90deg, #9a4dff, #6a00ff);
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
}

.contact-btnn:hover {
  transform: scale(1.05);
}
